.App {
  text-align: center;
}

.SubstutionCancelIcon {
  margin-top: 1em;
}

.SubstituteCard {
  margin-bottom: 1em;
}

.IconLink {
  margin: 1em 1em 0 0;
}

.IBUSatisifed {
  color: green;
}

.IBUUnsatisifed {
  color: red;
}

.LowAAAlert {
  color: red;
}

.HopAdditionActionButtons.MuiButtonBase-root {
  margin-top: 1em;
  margin-bottom: 1em;
}

.NewHopAdditionButton.MuiButtonBase-root {
  margin-bottom: 1em;
}
